{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mamski ganteng</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rozha+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="black">
    <!-- Side navigation -->
    <div class="sidenav">
        <a style="color: aqua;">ai.</a>
        <div id="col">
            <a href="/">HOME</a>
            <a href="#" style="color: #54C7EB;">ABOUT</a>
        </div>
        <div id="col">
            <a href="https://twitter.com/ahmadirfaan_" target="_blank">TWITTER</a>
            <a href="https://id.linkedin.com/in/ahmad-irfan-luthfi-44a0b7187" target="_blank">LINKEDIN</a>
            <a href="https://www.instagram.com/ahmadirfaan_/" target="_blank">INSTAGRAM</a>
        </div>
    </div>
    <div class="container py-5">

            <!-- For demo purpose -->
            <div class="row text-center text-white mb-5">
                <div class="col-lg-8 mx-auto">
                    <h1 class="display-4" id="judultimeline"><span style='color:#54C7EB;'>ai's</span> timeline</h1>
                    </div>
                </div><!-- End -->
        
        
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        
                        <!-- Timeline -->
                        <ul class="timeline">
                            <li class="timeline-item ml-3 p-4 shadow scale-up-center">
                                <h2 class="h5 mb-0">Universitas Indonesia</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>5 April, 2019</span>
                                <p class="text-small mt-2 font-weight-light">Current GPA : 3.86<br>I am currently pursuing Computer Science bachelor degree. Also I am one of Teacher Assistant of Calculus I.<br>
                                </p>
                            </li>
                            <li class="timeline-item ml-3 p-4 shadow scale-up-center">
                                <h2 class="h5 mb-0">SMAI Al-Azhar 4</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>2015-2018</span>
                                <p class="text-small mt-2 font-weight-light">I occassionally represent my school to participate in Mathematics Competition, and got gold medal in Mathematics at Al-Azhar Scientific Olympiad and 5th rank at National Olympiad Bekasi. Also got the highest national exam score.</p>
                            </li>
                        </ul><!-- End -->
        
                    </div>
                </div>
            </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
