{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mamski ganteng</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rozha+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="black">
    <!-- Side navigation -->
    <div class="sidenav">
        <a style="color: aqua;">ai.</a>
        <div id="col">
            <a href="#" style="color: #54C7EB;">HOME</a>
            <a href="about/">ABOUT</a>
        </div>
        <div id="col">
                <a href="https://twitter.com/ahmadirfaan_" target="_blank">TWITTER</a>
                <a href="https://id.linkedin.com/in/ahmad-irfan-luthfi-44a0b7187" target="_blank">LINKEDIN</a>
                <a href="https://www.instagram.com/ahmadirfaan_/" target="_blank">INSTAGRAM</a>
        </div>
    </div>
    <div class="banner">
        <div class="jumbotron  bg-transparent">
            <h1 style="font-family: 'awesomeFont', serif;" id="bonjour" >BONJOUR!</h1>
            <div id="introduction">
                <h1 id="intro">Hi,</h1>
                <h1 id="intro">I'm <span id="hov">Irfan</span></h1>
                <h1 id="intro">Interested in Data Engineering</h1>
                <h1 id="intro" style="font-size: 2rem;"><br>computer science student<br>at <span style="color:yellow">universitas indonesia</span></h1>
                <!-- <p id="kecil">computer science student <br> at <span style="color: yellow;">universitas indonesia</span></p> -->
            </div>
            <div style="margin: 0 0 0 10rem;;">
            </div>
        </div>
        <video autoplay loop muted class="banner__video" poster="https://pawelgrzybek.com/photos/2015-12-06-codepen.jpg">
            <source src="https://pawelgrzybek.com/photos/2015-12-06-codepen.webm" type="video/webm">
            <source src="https://pawelgrzybek.com/photos/2015-12-06-codepen.mp4" type="video/mp4">
        </video>
    </div>
    <!-- <div class="jumbotron  bg-transparent">
        <h1 style="font-family: 'awesomeFont', serif;" id="bonjour" >BONJOUR!</h1>
        <div id="introduction">
            <h1 id="intro">Hi,</h1>
            <h1 id="intro">I'm <span id="hov">Irfan</span></h1>
            <h1 id="intro">Interested in Data Engineering</h1>
        </div>
        <div style="margin: 0 0 0 10rem;;">
            <p id="kecil">computer science student <br> at <span style="color: yellow;">universitas indonesia</span></p>
        </div>
    </div> -->
</body>
</html>
